<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bizcall.wayto.mentebit">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/bizcall"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity android:name="com.bizcall.wayto.mentebit.IVRMissedTollFree"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name="com.bizcall.wayto.mentebit.MapsActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <receiver
            android:name="com.bizcall.wayto.mentebit.MyAlarm"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity android:name=".ActivityTotalLeadReport"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivityGraphReport"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivityStatusReport"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivityHome"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivityCounselorwiseLeads"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivityDatewiseLeads"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivityLeadsDetailsReport"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivityStatuswiseLeads"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ActivityStatuswiseLeadDetailRecords"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.bizcall.wayto.mentebit.CollegeAttornyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.PersonalInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.SummaryDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.EducationalDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.ActivityTotalCallMade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.ActivityAllocationReport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.ActivityMapLocations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.ActivityLastLoginDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.ActivityUploadDocs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.FormFilled"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.bizcall.wayto.mentebit.MyAccessibilityService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/my_accessibility_service" />
        </service>

        <activity
            android:name="com.bizcall.wayto.mentebit.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.bizcall.wayto.mentebit.Home"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="com.bizcall.wayto.mentebit.PhoneStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <!--
        <receiver
            android:name="com.bizcall.wayto.sample.ReminderBroadcastReceiver">
            <intent-filter>
                <intent-filter>
                    <action android:name="NOTIFICATION_SERVICE" />
                </intent-filter>
            </intent-filter>
        </receiver>
        -->
        <!--
  <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bizcall.provider.phonecallrecord"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.bizcall.wayto.mentebit.SplashAfterCall"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.FileListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.bizcall.wayto.mentebit.SelectedFileList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bizcall.wayto.mentebit.MessageTemplate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.SplashNumberNotPresent"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.bizcall.wayto.mentebit.StatusTotalCount" />
        <activity
            android:name="com.bizcall.wayto.mentebit.CounsellorData"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.TotalCallMade"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.ApplyOnline"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.BrowseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.CounselorContactActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bizcall.wayto.mentebit.SearchAllActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.bizcall.wayto.mentebit.NewActivity" />
        <activity
            android:name="com.bizcall.wayto.mentebit.DetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.EditDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.ReminderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.PointCollectionDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.ReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- android:screenOrientation="landscape" -->
        <activity
            android:name="com.bizcall.wayto.mentebit.GraphReport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.GraphDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.NewClientEntry"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.bizcall.wayto.mentebit.AllRecords" />
        <activity
            android:name="com.bizcall.wayto.mentebit.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.AllocationReport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.LastLoginDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.bizcall.wayto.mentebit.NavigationViewActivity" />
        <activity
            android:name="com.bizcall.wayto.mentebit.ReportDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.bizcall.wayto.mentebit.ReadLog" />
        <activity
            android:name="com.bizcall.wayto.mentebit.OnlineLead"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.AllNotifications"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.StatusReport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.FirstCallReport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.OpenLeads"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.LeadCount"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.MasterEntry"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.bizcall.wayto.mentebit.MailActiivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>